*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(120deg,#f6d365, #fda086);
    color: white;
    min-height: 600px;

}

header{
    font-size: 24px;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


form input, form button{
    padding: 0.5rem;
    font-size: 32px;
    border: none;
background: white;
}

form button{
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #d88771;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}


.todo{
    margin: 8px ;
    background: white;
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn{
    background:red;
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    font-size: 16px;
}

.complete-btn{
    background: green;
}

.todo-item{
    padding: 0 8px;
}

.fa-trash{
    pointer-events: none;
}
.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}